.top-buffer-10 { margin-top:10px; }
.top-buffer-20 { margin-top:20px; }
.top-buffer-30 { margin-top:30px; }
.top-buffer-40 { margin-top:40px; }

.bot-buffer-20 { margin-bottom:20px; }
.bot-buffer-30 { margin-bottom:30px; }
.bot-buffer-40 { margin-bottom:40px; }
.bot-buffer-50 { margin-bottom:50px; }
.bot-buffer-60 { margin-bottom:60px; }
.bot-buffer-70 { margin-bottom:70px; }
.bot-buffer-80 { margin-bottom:80px; }
.bot-buffer-90 { margin-bottom:90px; }
.bot-buffer-100 { margin-bottom:100px; }

